.cardHolder{
    display:flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;  
}

.image{
    width: 200px;
    height:200px;
    border-left: 70px solid pink;
    border-right: 40px solid pink;
}

.card{
    width: 500px;
    height: 300px;
    background-color: pink;
    border: 20px solid white;
}

.owner{
    display: flex;
    flex-direction: row;
}

.ownerPic{
    border-radius: 50%;
    width:50px;
    height: 50px;
    border-left: 20px solid pink;
    border-right: 20px solid pink;
    border-top: 10px solid pink
}

.details{
    display: flex;
    flex-direction: row;
}

.detailvalues{
    display: flex;
    flex-direction: column;
}

.like{
    width:30px;
    height: 30px;
    mix-blend-mode: multiply;
}

.likediv{
    display: flex;
    flex-direction: row;
}
